.split-pane-wrapper {
    overflow: hidden;
}

.pane {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pane-content {
    flex:1;
    display: flex;
    padding: 1em;
    overflow: hidden;
}

.pane.drag {
    flex: none !important;
}


.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.disable-selection .pane.pane-row {
    cursor: row-resize;
}

.disable-selection .pane.pane-col {
    cursor: col-resize;
}




.pane::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.pane::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}
